* {
    --blue: #3c486b;
    --cream: #f0f0f0;
    --yellow: #f9d949;
    --orange: #f45050;
}

.no-decoration {
    text-decoration: none;
    color: black;
}

.no-decoration:hover {
    border-bottom: 2px solid black;
}

.list-items {
    text-align: justify;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.common-boxes {
    width: 70%;
    margin: auto;
    background: var(--orange);
    border-radius: 10px;
}

.pgm-heading {
    background-color: var(--blue);
    color: var(--yellow);
    padding-top: 15px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.the-common-content {
    padding: 10px;
}

.download-btn {
    padding: 5px 10px;
    background: var(--yellow);
    border: 2px solid var(--yellow);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 5px;
    /* border: 2px solid black; */
    box-shadow: 5px 5px 3px black;
}

/* .download-btn:hover {
    border: 2px solid var(--yellow);
    box-shadow: 0px 0px;
} */

.no-hover-decor:hover {
    border-bottom: 0px;
}

.span-element {
    text-decoration: underline;
    margin-left: 100px;
}

@media (max-width: 1000px) {
    .common-boxes {
        width: 98%;
    }

    .span-element {
        margin-left: 0px;
    }
}