.slider {
    width: 95%;
    margin: 30px auto;
    /* padding: 5px; */
    /* border: 1px solid black; */
    overflow-x: auto;
    display: flex;
}

.slider::-webkit-scrollbar {
    display: none;
    background: #f0f0f0;
}

a {
    text-decoration: none;
    color: black;
}

.box {
    min-width: 270px;
    max-width: 275px;
    height: 350px;
    /* border: 2px solid red; */
    margin-right: 20px;
    padding: 10px;
    /* background: #f45050; */
    background: #f9d949; 
    border-radius: 15px;
}

.img {
    overflow: hidden;
    width: 100%;
    height: 85%;
}

img {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.caption {
    height: 15%;
    display: grid;
    place-items: center;
    /* font-family: 'Calligraffitti', cursive; */
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 23px;
}

@media (max-width: 769px) {
    .box {
        margin-right: 0px;
    }
}