@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.time-box {
    position: fixed;
    right: 20px;
    top: 60px;
    width: 90px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    background-color: #f45050;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

#hour, #minute, #second {
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 1000px) {
    .time-box {
        display: none;
    }
}